.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#arid{
  background-color: rgb(228, 217, 203);
  width: fit-content;
  padding: 0 1%;
}

#temperate{ 
  background-color: rgb(216, 247, 216);
  width: fit-content;
  padding: 0 1%;


}

#murky{ 
  background-color: rgb(219, 219, 219);
  width: fit-content;
    padding: 0 1%;


}

.card{ 

    width: 70vw;
    margin: auto;
    padding: 3%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius:1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
}

.cardBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3%;
 
}

.cardBox{
  width: 100vw;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}